<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Audiowide&family=Syncopate:wght@700&display=swap" rel="stylesheet">
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <title>SPECTRE</title>
  </head>
  <body>
  <header>
    <div id="header-container">
      <div id="logo-container">
        <div id="logo-box">
          <div id="logo">
            <h1><a href="../">SPECTRE</a></h1>
            <h2><a href="../">Speaker Rentals</a></h2>
          </div>
        </div>
      </div>
      <div id="login-container">
        <div id="login-box">
          <div id="login-info">
              <label><small>Please Login or Register</small></label>
          </div>
          <div id="login-buttons">
              <input id="loginBtn" type="button" value="LOGIN">
              <input id="regBtn" type="button" value="REGISTER">
              <br>
              <label><small>(10000 Items)</small></label>
              <input id="cartBtn" type="button" value="CART">
              <br>
              <label id="totalPreview"><small>(Total $1000000.00)</small></label>
          </div>
        </div>
      </div>
    </div>
  </header>
