<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Audiowide&family=Syncopate:wght@700&display=swap" rel="stylesheet">
    
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <title>SPECTRE</title>
  </head>
  <body>
  <header>
    <div id="header-container">
      <div id="logo-container">
        <div id="logo-box">
          <div id="logo">
            <h1><a href="../">SPECTRE</a></h1>
            <h2><a href="../">Speaker Rentals</a></h2>
          </div>
        </div>
      </div>
      <div id="signin-container">
        <div id="signin-box">
          <div id="signin-info">
              <small>Please Login or Register</small>
          </div>
          <div id="signin-buttons">
            <% if (user) { %>
              <a href="/logout" id="logoutBtn">Logout</a>
            <% } else { %>
              <a href="/auth/google" id="loginBtn">Login with Google</a>
              <a href="/logout" id="logoutBtn">Logout</a>
            <% } %>
            <br>
            <small>(10000 Items)</small>
            <input id="cartBtn" type="button" value="CART">
            <br>
            <small>(Total $1000000.00)</small>
          </div>
        </div>
      </div>
    </div>
  </header>
