<%- include('./partials/header') %>
<div id="main-container">
    <div id="main-box">
        <div id="main-content">
            <p>This is where all the main content goes.</p>
            <h2><a href="./management/users">View All Users</a></h2>
        </div>
    </div>
</div>
<%- include('./partials/footer') %>