<%- include('partials/header') %>

<br>
<div id="youtube-embed">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/W8x9jgieT30" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
</div>
<%- include('partials/footer') %>