<%- include('partials/header') %>

<br>
<div id="youtube-container">
    <iframe id="youtube-frame" width="auto" height="auto" src="https://www.youtube.com/embed/W8x9jgieT30" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
</div>
<div>
    <form id="addItem" method="POST"
    action="/cart">
    <label>Item:
        <select name="itemId">
            <%- items.map(i => `<option value="${i._id}">${i.name}</option>`).join('') %>
          </select>
    </label><br>
    <input type="submit" value="Add Item">
  </form>
</div>
<%- include('partials/footer') %>