<%- include('./partials/head') %>
<%- include('./partials/header') %>
            <h5>User Directory:</h5>
            <h2><a href="/management/index">Management Portal</a></h2>
<%- include('./partials/footer') %>