<div id="all-users">
    <% users.forEach(function(user) { %>
        <% if (user.avatar) { %>
            <img src="<%= user.avatar %>" alt="avatar" class="square responsive-img" width="25">
        <% } else { %>
            <i class="medium material-icons">account_square</i>
        <% } %>
    <%= user.name %><br>
    <%= user._id %>
    <div id="collection">
        <% user.facts.forEach(function(fact) { %>
            <li><%- fact.text %></li>
        <% }) %>
    </div>
    <% }) %>
</div><br>