<%- include('../partials/mgmt_head') %>
<%- include('../partials/header') %>
<table class="centered">
    <thead>
      <tr>
        <th><h2><a href="./users">View All Users</a></h2></th>
      </tr>
    </thead>
</table>
<%- include('../partials/footer') %>