<h2>Search Users</h2>
    <div>
        <form action="/users" method="GET">
            <div id="user-search">
                <!-- search -->
                <div class="input-field">
                    <input id="search" type="search" name="name" placeholder="search name" value="<%= name %>" autocomplete="off">
                    <i class="material-icons">close</i>
                </div>
                <p>
                    <label for="sort-name">
                        <input name="sort" type="radio" id="sort-name" value="name" class="with-gap"
                        <%= sortKey === 'name' ? 'checked' : '' %> >
                        <span>Sort by Name</span>
                    </label>
                    <label for="sort-cohort">
                        <input name="sort" type="radio" id="sort-cohort" value="cohort" class="with-gap"
                        <%= sortKey === 'cohort' ? 'checked' : '' %> >
                        <span>Sort by Cohort</span>
                    </label>
                </p>
            </div>
        </form>
    </div><br>