<div id="search-container">
    <form action="/users" method="GET">
        <table class="centered">
            <thead>
                <tr>
                    <th>
                        <div id="search-bar">
                            <input id="search" type="search" 
                            name="name" placeholder="search name" 
                            value="<%= name %>">
                            <input type="submit" value="search">
                        </div>  
                    </th>
                    <th>
                        <label for="sort-name">
                            <input name="sort" type="radio" id="sort-name" value="name" class="with-gap"
                            <%= sortKey === 'name' ? 'checked' : '' %> >
                            <span>Name</span>
                        </label>
                        <br>
                        <label for="sort-cohort">
                            <input name="sort" type="radio" id="sort-cohort" value="cohort" class="with-gap"
                            <%= sortKey === 'cohort' ? 'checked' : '' %> >
                            <span>Cohort</span>
                        </label>
                    </th>
                </tr>
            </thead>
        </table>
    </form>
</div><br>