<%- include('../partials/header') %>
<form id="new-form" action="/users" method="POST">
    <label>Name
      <input type="text" name="name" >
    </label><br>
    <label>First
      <input type="text" name="first">
    </label><br>
    <label>Last
      <input type="text" name="last">
    </label><br>
    <label>Email
        <input type="text" name="email">
    </label><br>
    
      <input type="submit" value="Add User">
  </form>
<%- include('../partials/footer') %>