<%- include('../partials/header') %>
<<<<<<< HEAD
<form id="new-form" action="/users" method="POST">
=======
<form id="newUser" action="/new" method="POST">
>>>>>>> 97d68ce4b18dca04aaa5ff6a7f93b1e7742c7d1a
    <label>Name
      <input type="text" name="name" >
    </label><br>
    <label>First
      <input type="text" name="first">
    </label><br>
    <label>Last
      <input type="text" name="last">
    </label><br>
    <label>Email
        <input type="text" name="email">
    </label><br>
    
      <input type="submit" value="Add User">
  </form>
<%- include('../partials/footer') %>